<div class="single-comment">
  <div class="comment-details">
    <strong><%= comment.commenter %></strong>
    <%= comment.body %>
  </div>
  <%= link_to image_tag("delete.svg", alt: "delete button", class: "delete-comment"), [comment.article, comment],
            method: :delete,
            data: { confirm: "Are you sure?" } %>
</div>