// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$primary-color: #714A33;
$secondary-color: #F3EBE2;

.comments {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
}

h2 {
  margin: 0;
  padding: 1.5em 0 0.5em 0;
  font-size: 1.25em;
}

.all-comments, .add-comment {
  background-color: white;
  padding: 0.25em 0;
  border: 1px solid white;
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px 1px $secondary-color;
}

.single-comment, .comment-placeholder {
  margin: 0;
  padding: 0.5em 1em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1em;
  border-bottom: 1px solid $secondary-color;
}

.single-comment:last-child, .comment-placeholder { 
  border-bottom: none; 
}

.comment-details {
  display: flex;
  gap: 1em;
}

.delete-comment {
  height: 1.25em;
  width: auto;
}

.add-comment {
  padding: 1em;
  margin-bottom: 1em;
}

.form-label {
  padding-bottom: 0.5em;
}

.form-control {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0.75em;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}

.form-author {
  width: 30%;
}

input[type=submit] {
	cursor: pointer;
  border: none;
}

input[type=submit]:hover {
  box-shadow: none;
}