$primary-color: #714A33;
$secondary-color: #F3EBE2;
$cursive-font: 'Caveat', cursive;

header {
  background-color: white;
  color: $primary-color; 
  width: 100%;
  padding: 0.75em 0;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 6px 2px $secondary-color;
}

.header-contents {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: $cursive-font;
  font-weight: 700;
  font-size: 2em;
}